---
import { getEntry } from "astro:content";
import { Icon } from "astro-icon/components";

let contact = await getEntry("config", "contact");
let about = await getEntry("config", "about");
const today = new Date();
---

<footer class="surface-footer relative grid text-sm">
  <div class="container-xl mx-auto flex flex-col items-center justify-between gap-2 pb-4 pt-4 text-center sm:flex-row sm:text-left">
    <!-- Social Links -->
    {
      contact.data.social && (
        <ul class="flex flex-wrap justify-center gap-3 sm:justify-start">
          {contact.data.social.map((link) => (
            <li>
              <a
                href={link.href}
                class="grid h-full place-items-center transition-transform duration-300 hover:scale-105"
                target="_blank"
                aria-label={link.label}
              >
                <Icon name={link.icon} class="h-5 w-5" />
              </a>
            </li>
          ))}
        </ul>
      )
    }

    <!-- Copyright -->
    <div class="opacity-60">
      &copy;{today.getFullYear()} Bruno Rassat Portfolio
    </div>
  </div>
  </div>
</footer>
